.main {
  width: calc(100% - 300px);
  height: calc(100vh - 100px);
  background-color: hsl(225deg 9.52% 8.24%);
  margin-left: 300px;
  margin-top: 100px;
  position: absolute;
  overflow-y: scroll;
  padding: 50px;
}

@media (max-width: 600px) {
  .main {
    margin-left: 0;
    width: 100%;
  }
}
