.title {
  display: block;
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
  color: #fff;
  font-size: 30px;
}
.card {
  width: 300px;
  height: 300px;
  margin: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: rgb(45, 45, 43);
  color: #fff;
}
.card:hover {
  transform: scale(1.1);
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.summary {
  text-align: center;
  overflow-y: scroll;
  height: 180px;
}
.author {
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
}
